/* div{
    background-color: blueviolet;
    margin: 20px;
    padding: 10px;
    width: 500px;
} */
#sec{
    display: none;
}

/* For class selector should use (.) */
/* .boys {
    color: white;
} */

/* .girls {
    color: yellow;
} */

/* For id selector should use (#) */
/* #kamal-birthday{
    color: red ;
}
#sadiya-birthday{
    color: pink;
} */




/* Style for blog */
#blog-container{
    background-color: rgb(198, 168, 245);
    width: 80%;
    margin: auto;
    padding: 10px;
}
.container{
    margin: 10px;
}
.blog-image{
    height: 200px;
    width: 100%;
}
.text-box{
    background-color: rgb(223, 212, 250);
    padding: 10px;
}
.blog-title{
    font-size: 30px;
    color: rgb(44, 35, 35);
}
.blog-text{
    font-size: 1.5rem;
}
.blog-button{
    background-color: cyan;
    border: none;
    cursor: pointer;
    padding: 10px;
}